@media all and (min-width: 768px) {

     nav ul {
        display: flex; 
     }
     nav li{
        font-size: 2rem;
        margin-right: 3rem;
     }
     .hamburger{
        display: none;
     }
}
